<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IMSoket.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04B6FB271EE925330060B2A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04B6FB401EE925340060B2A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04B6FB4B1EE925350060B2A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
